## Types

In [1]:
def add(a, b):
    c = 5
    return a + b

In [2]:
add(4, 8)

12

In [3]:
add(5, 2)

7

In [4]:
add("News", "paper")

'Newspaper'

In [5]:
add([1, 6], [21, 7])

[1, 6, 21, 7]

In [6]:
add("The answer is", 2)

TypeError: can only concatenate str (not "int") to str

## Scopes

In [7]:
print(c)

NameError: name 'c' is not defined

In [8]:
c = 5
def add2(a, b):
    return a + b

In [9]:
print(c)

5

In [10]:
t = ("Norway", 4, 3)

In [11]:
t

('Norway', 4, 3)

In [12]:
t[2]

3

In [14]:
len(t)

3

In [15]:
for item in t:
    print(item)

Norway
4
3

In [16]:
t + (338186.0, 265e9)

('Norway', 4, 3, 338186.0, 265000000000.0)

In [17]:
t * 3

('Norway', 4, 3, 'Norway', 4, 3, 'Norway', 4, 3)

In [18]:
a = ((220, 284), (1184, 1210), (2342,4324,), (7657,5675), (9887,7897))

In [19]:
a[2][1]

4324

In [20]:
h = (391)
print(h)

391

In [21]:
type(h)

int

In [22]:
type(t)

tuple

In [25]:
e = ()

In [28]:
type(e)

tuple

In [29]:
p = 1, 1, 1, 4, 6, 19

In [30]:
p

(1, 1, 1, 4, 6, 19)

In [32]:
type(p)

tuple

In [33]:
def minmax(items):
    return min(items), max(items)

In [34]:
minmax([83, 54, 23, 76, 23])

(23, 83)

In [35]:
lower, upper = minmax([83, 33, 84, 32, 85, 31, 86])

In [36]:
print(lower)

31

In [37]:
print(upper)

86

In [38]:
(a, (b, (c, d))) = (4, (3, (2, 1)))

In [39]:
print(a, b, c, d)

4 3 2 1

In [40]:
a = 'jelly'
b = 'bean'

In [41]:
a, b = b, a

In [42]:
b

'jelly'

In [43]:
a

'bean'

In [44]:
tuple("Coronavirus")

('C', 'o', 'r', 'o', 'n', 'a', 'v', 'i', 'r', 'u', 's')

In [45]:
m = (1, 2, 3, 4, 5)

In [46]:
5 in (1, 2, 3, 4, 5)

True

In [47]:
5 in m

True

In [48]:
5 not in m

False