## Lists

In [2]:
a = list("Pineapple")

In [3]:
a[3]

'e'

In [4]:
a.append(234)

In [6]:
a[7] == "t"

False

## Dictonaries

In [8]:
d = {'Kyle': '878-8728-234', 'Evelyn': '232-323-2323', 'Sarah': '656-6565-656'}

In [9]:
d['Sarah']

'656-6565-656'

In [10]:
d

{'Kyle': '878-8728-234', 'Evelyn': '232-323-2323', 'Sarah': '656-6565-656'}

In [11]:
d['Kyle'] = '123-4566-789'

In [12]:
d

{'Kyle': '123-4566-789', 'Evelyn': '232-323-2323', 'Sarah': '656-6565-656'}

In [13]:
d['Nick'] = '578-6534-234'

In [14]:
d

{'Kyle': '123-4566-789',
 'Evelyn': '232-323-2323',
 'Sarah': '656-6565-656',
 'Nick': '578-6534-234'}

## For Loops

In [18]:
cities = ["London", "Oslo", "Paris", "Helisnki"]

In [19]:
for city in cities:
    print(city)

London
Oslo
Paris
Helisnki

In [22]:
colors = {'a': 123456, 'b':987654, 'c':984683}

In [23]:
for color in colors:
    print(color, colors[color])

a 123456
b 987654
c 984683